/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/* Like button*/

/*Post image*/
/*.post-img {
    height: 1080px;
    width: 1080px;
}*/

/*heart*/

/* Coment */
.coment {
    background: 0 0;
    border: 0;
    display: flex;
    flex-grow: 1;
    font-size: inherit;
    max-height: 80px;
    outline: 0;
    padding: 0;
    resize: none;
    width: 0;
}
textarea {
    resize: none;
}

* {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.menu-item {
    font-size: 28px;
    margin: 0 5px 0 5px;
}

.post-img {
    height: 614px;
    width: 614px;
}

.section {
}

.navbar {
    border-bottom: 1px solid;
}

.like-btn {
    height: 16px;
    width: 16px;
    transition: 0.5s;
    border: none;
    color: black;
}

.like-btn:hover {
    transition: 0.5s;
    color: red;
}

.like-btn:focus {
    outline: none;
    box-shadow: none;
}

.liked {
    color: red;
}

.liked:hover {
    transition: 0.5s;
    color: black;
}

textarea {
    resize: none;
    overflow: hidden;
}

.comentaries {
}

.hide-btn {
    box-sizing: content-box;
    margin: 0px 210px 0px 210px;
}

li {
    list-style: none;
    margin-bottom: 10px;
}
